{% from "stag.html" import absurl with context %}

<!DOCTYPE html>
<html lang="{{ site.config.language }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.md.author -%}<meta name="author" content="{{ page.md.author }}">{% endif %}

<title>{%block metatitle %}{%- if page.metadata.title and not page.metadata.notitle -%}{{ page.metadata.title }} &middot; {% endif %}{{ site.config.title }}{% endblock %}</title>

<link rel="stylesheet" href="{{ absurl("css/theme.css") }}">
<link rel="stylesheet" href="{{ absurl("css/layout.css") }}">
<link rel="stylesheet" href="{{ absurl("css/style.css") }}">

</head>

<body>
<div id="main">
  <article class="content">
      <h1>{{ page.md.title }}</h1>
      {{ content }}
  </article>

  {% if page.toc %}
  <nav class="tocwrap">
      {{ page.toc.content }}
  </nav>
  {% endif %}

  <nav class="sidebar">
      {% include "menu.html" %}
  </nav>

</div>
</body>
</html>
